@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #272727;
  text-decoration: none;
}

h3 {
  margin: 0;
  font-size: 25px;
}

h4 {
  margin: 16px 0 0 0;
  color: #4f54ff;
  font-size: 16px;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "header header header" ". posts .";
  height: 100vh;
  padding-top: 100px;
  background-color: #fafafa;
}

header {
  display: grid;
  grid-area: header;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". nav .";
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: #959da533 0 8px 24px;
}

@media (prefers-color-scheme: dark) {
  header {
    box-shadow: #00000033 0 8px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #272727;
  }
}

nav {
  grid-area: nav;
}

nav p {
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  nav p {
    color: #ffffff;
  }
}

.posts {
  display: grid;
  grid-area: posts;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}

@media (min-width: 576px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  height: 500px;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.5s;
  box-shadow: #959da533 0 8px 24px;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: #00000033 0 8px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #272727;
  }
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.025);
}

.post-container {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 200px auto 200px;
  grid-template-areas: ". post-header ." ". post-body .";
  background-color: #ffffff;
}

.post-header {
  grid-area: post-header;
}

article {
  grid-area: post-body;
}
