/* Copyright © 2021 Jakub Klapka & David Brzý. All rights reserved. */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$denali: #4f54ff;
$dark: #272727;
$black: #000000;
$white: #ffffff;

@mixin shadow {
  box-shadow: #959da533 0 8px 24px;
  @media (prefers-color-scheme: dark) {
    box-shadow: #00000033 0 8px 24px;
  }
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* Index */

.container {
  display: grid;
  height: 100vh;
  padding: 20px 0 0 0;
  background-color: #fafafa;
  grid-template-rows: 60px auto 50px;
  grid-template-columns: 20px 1fr 20px;
  grid-template-areas:
  "header header header"
  ". posts ."
  ". footer .";
  @media (min-width: 992px) {
    grid-template-rows: 60px auto 50px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    "header header header"
    ". posts ."
    ". footer .";
  }
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
  }
}

.navbar {
  display: grid;
  grid-area: header;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". nav .";
  background-color: $white;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  @include shadow();
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  nav {
    grid-area: nav;
    p {
      font-size: 18px;
      @media (prefers-color-scheme: dark) {
        color: $white;
      }
    }
  }
}

.posts {
  display: grid;
  gap: 20px;
  padding: 0 env(safe-area-inset-right) 20px env(safe-area-inset-left);
  grid-area: posts;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  height: 500px;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.5s;
  background-color: $white;
  @include shadow();
  &:hover {
    transform: scale(1.025);
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  p {
    margin: 0;
    font-size: 16px;
    color: $black;
  }
  h3 {
    margin: 12px 0;
    font-size: 25px;
    color: $black;
  }
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
    p, h3 {
      color: $white;
    }
  }
}

/* Post */

.post-container {
  display: grid;
  row-gap: 20px;
  padding: 0 0 20px 0;
  background-color: #ffffff;
  grid-template-rows: 60px auto auto auto;
  grid-template-columns: 20px 1fr 20px 50px;
  grid-template-areas:
  "post-navbar post-navbar post-navbar"
  ". post-header ."
  ". post-body ."
  ". post-body ."
  ". footer .";
  @media (min-width: 768px) {
    grid-template-rows: 60px auto auto auto 50px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    "post-navbar post-navbar post-navbar"
    ". post-header ."
    ". post-body ."
    ". post-body ."
    ". footer .";
  }
  @media (min-width: 992px) {
    grid-template-rows: 60px auto auto 50px;
    grid-template-columns: 0.5fr 6fr 3fr 0.5fr;
    grid-template-areas:
    "post-navbar post-navbar post-navbar post-navbar"
    ". post-header post-header ."
    ". post-body post-body ."
    ". footer footer .";
  }
  @media (min-width: 1200px) {
    grid-template-rows: 60px auto auto 50px;
    grid-template-columns: 1fr 5fr 3fr 1fr;
    grid-template-areas:
    "post-navbar post-navbar post-navbar post-navbar"
    ". post-header post-header ."
    ". post-body post-body ."
    ". footer footer .";
  }
  @media (min-width: 1600px) {
    grid-template-rows: 60px auto auto 50px;
    grid-template-columns: 2fr 4fr 2fr 2fr;
    grid-template-areas:
    "post-navbar post-navbar post-navbar post-navbar"
    ". post-header post-header ."
    ". post-body post-body ."
    ". footer footer .";
  }
  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
  }
}

.post-navbar {
  display: grid;
  grid-area: post-navbar;
  grid-template-rows: 60px;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". nav .";
  background-color: $white;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  @include shadow();
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  nav {
    grid-area: nav;
    p {
      font-size: 18px;
      color: $black;
      @media (prefers-color-scheme: dark) {
        color: $white;
      }
    }
  }
}

.post-header {
  grid-area: post-header;
  padding: 20px env(safe-area-inset-right) 0 env(safe-area-inset-left);
  h1 {
    margin: 16px 0;
    font-size: 26px;
    color: $black;
    @media (min-width: 992px) {
      font-size: 30px;
    }
    @media (min-width: 1200px) {
      font-size: 32px;
    }
    @media (prefers-color-scheme: dark) {
      color: $white;
    }
  }
}

.post-body {
  display: grid;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  row-gap: 20px;
  column-gap: 0;
  grid-area: post-body;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "post-toc"
  "post";
  @media (min-width: 992px) {
    row-gap: 0;
    column-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "post post-toc";
  }
}

.post {
  grid-area: post;
  img {
    width: 200px;
  }
  ol {
    padding: 0 0 0 40px;
  }
  p, li {
    margin: 8px 0;
    color: $black;
    line-height: 1.5;
  }
  h2 {
    margin: 16px 0 12px 0;
    color: $black;
  }
  @media (prefers-color-scheme: dark) {
    p, h2, li {
      color: $white;
    }
  }
}

/* Table of contents */

.post-toc {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.5s;
  grid-area: post-toc;
  background-color: $white;
  @include shadow();
  &:hover {
    transform: scale(1.025);
  }
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
}

.toc-item {
  margin: 8px 0;
  font-size: 18px;
  list-style-type: none;
}

.toc-link {
  color: $black;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #979797;
  }
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

/* Gallery */

.gallery {
  width: 100%;
  margin: 30px 0;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.5s;
  background-color: $white;
  @include shadow();
  &:hover {
    transform: scale(1.025);
  }
  p {
    text-align: center;
  }
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
}

.gallery-images {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
  }
  @media (min-width: 1200px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Footer */

footer {
  margin: auto;
  display: grid;
  grid-area: footer;
  grid-template-rows: 50px;
  grid-template-columns: 1fr;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
  a {
    color: $black;
  }
  p {
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
  }
  @media (prefers-color-scheme: dark) {
    a, p {
      color: $white;
    }
  }
}