@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$denali: #4f54ff;
$grey: #e5e5e5;
$dark: #272727;
$link: #0d6efd;
$black: #000000;
$white: #ffffff;

@mixin shadow {
  box-shadow: #959da533 0 8px 24px;
  @media (prefers-color-scheme: dark) {
    box-shadow: #00000033 0 8px 24px;
  }
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $dark;
  text-decoration: none;
}

.card-title {
  margin: 0;
  font-size: 25px;
}

.card-description {
  margin: 16px 0 0 0;
}

.container {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
  "header header header"
  ". posts .";
  height: 100vh;
  padding-top: 40px;
  background-color: #fafafa;
}

.navbar {
  display: grid;
  grid-area: header;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". nav .";
  background-color: $white;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  @include shadow();
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  nav {
    grid-area: nav;
    p {
      font-size: 18px;
      @media (prefers-color-scheme: dark) {
        color: $white;
      }
    }
  }
}

.posts {
  display: grid;
  grid-area: posts;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  height: 500px;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.5s;
  @include shadow();
  background-color: $white;
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  &:hover {
    transform: scale(1.025);
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}

/* Post */

.post-container {
  display: grid;
  grid-template-rows: 60px auto auto;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-areas:
  "post-navbar post-navbar post-navbar"
  ". post-header ."
  ". post-body .";
  padding-top: 40px;
  background-color: #ffffff;
}

.post-navbar {
  display: grid;
  grid-area: header;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". nav .";
  background-color: $white;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  @include shadow();
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  nav {
    grid-area: nav;
    p {
      font-size: 18px;
      @media (prefers-color-scheme: dark) {
        color: $white;
      }
    }
  }
}

.post-header {
  grid-area: post-header;
}

.post-body {
  display: grid;
  grid-area: post-body;
}

.post {
  grid-area: post;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "post post-toc";
  img {
    width: 200px;
  }
  p {
    line-height: 1.5;
  }
  li {
    line-height: 1.5;
  }
}

.post-toc {
  grid-area: post-toc;
}

.toc-item {
  list-style-type: none;
}