@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$denali: #4f54ff;
$grey: #e5e5e5;
$dark: #272727;
$link: #0d6efd;
$black: #000000;
$white: #ffffff;

@mixin shadow {
  box-shadow: #959da533 0 8px 24px;
  @media (prefers-color-scheme: dark) {
    box-shadow: #00000033 0 8px 24px;
  }
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $dark;
  text-decoration: none;
}

h3 {
  margin: 0;
  font-size: 25px;
}

h4 {
  margin: 16px 0 0 0;
  color: $denali;
  font-size: 16px;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
  "header header header"
  ". posts .";
  height: 100vh;
  padding-top: 100px;
  background-color: #fafafa;
}

header {
  display: grid;
  grid-area: header;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". nav .";
  background-color: $white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  @include shadow();
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
}

nav {
  grid-area: nav;
  p {
    font-size: 18px;
    @media (prefers-color-scheme: dark) {
      color: $white;
    }
  }
}

.posts {
  display: grid;
  grid-area: posts;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}

@media (min-width: 576px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  height: 500px;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.5s;
  @include shadow();
  background-color: $white;
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.card:hover {
  transform: scale(1.025);
}