/* Copyright © 2022 Studio Denali. All rights reserved. */

@import "./fonts";

$denali: #4f54ff;
$dark: #272727;
$white: #ffffff;
$black: #000000;

$safe-area-inset-right: env(safe-area-inset-right);
$safe-area-inset-left: env(safe-area-inset-left);

@mixin shadow {
  box-shadow: #959da533 0 0.5em 1.5em;

  @media (prefers-color-scheme: dark) {
    box-shadow: #00000033 0 0.5em 1.5em;
  }
}

:root {
  --navHeight: 60px;
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-left: env(safe-area-inset-left);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  margin-top: var(--navHeight);
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  color: $dark;
  background-color: #fafafa;
  display: grid;
  row-gap: 1.25em;
  grid-template-columns: 1.25em 1fr 1.25em;
  grid-template-rows: 2.5em auto auto auto 2.4em 22.421875em 2.4em 11.375em auto 25em 2.4em auto auto;
  grid-template-areas:
    "notice notice notice"
    "nav nav nav"
    ". hero ."
    ". hero ."
    ". services-heading ."
    "services services services"
    ". contact-heading ."
    ". contact ."
    ". contact ."
    ". contact ."
    ". clients-heading ."
    "clients clients clients"
    ". footer .";

  @media (min-width: 36em) {
    grid-template-columns: 1.25em 1fr 1fr 1.25em;
    grid-template-rows: 2.5em auto auto auto 2.4em 22.421875em 2.4em 11.375em auto 18.75em 2.4em auto auto;
    grid-template-areas:
      "notice notice notice notice"
      "nav nav nav nav"
      ". hero hero ."
      ". hero hero ."
      ". services-heading services-heading ."
      "services services services services"
      ". contact-heading contact-heading ."
      ". contact contact ."
      ". contact contact ."
      ". contact contact ."
      ". clients-heading clients-heading ."
      "clients clients clients clients"
      ". footer footer .";
  }

  @media (min-width: 48em) {
    grid-template-columns: 1.25em 1fr 1fr 1.25em;
    grid-template-rows: 2.5em auto auto 2.4em 22.421875em 2.4em 11.375em 12.5em 18.75em 2.4em auto auto;
    grid-template-areas:
      "notice notice notice notice"
      "nav nav nav nav"
      ". hero hero ."
      ". services-heading services-heading ."
      "services services services services"
      ". contact-heading contact-heading ."
      ". contact contact ."
      ". contact contact ."
      ". contact contact ."
      ". clients-heading clients-heading ."
      "clients clients clients clients"
      ". footer footer .";
  }

  @media (min-width: 62em) {
    grid-template-columns: 1.25em 1fr 1fr 1.25em;
    grid-template-rows: 2.5em auto auto 2.4em 22.421875em 2.4em 11.375em 12.5em 25em 2.4em auto auto;
    grid-template-areas:
      "notice notice notice notice"
      "nav nav nav nav"
      ". hero hero ."
      ". services-heading services-heading ."
      "services services services services"
      ". contact-heading contact-heading ."
      ". contact contact ."
      ". contact contact ."
      ". contact contact ."
      ". clients-heading clients-heading ."
      "clients clients clients clients"
      ". footer footer .";
  }

  @media (min-width: 75em) {
    margin-top: calc(var(--navHeight) + 1.25em);
    column-gap: 1.25em;
    grid-template-columns: 0.5fr 2.25fr 2.25fr 2.25fr 2.25fr 0.5fr;
    grid-template-rows: 2.5em auto auto 2.4em 22.421875em 2.4em 12.5em 12.5em 2.4em auto auto;
    grid-template-areas:
      "notice notice notice notice notice notice"
      "nav nav nav nav nav nav"
      ". hero hero hero hero ."
      ". services-heading services-heading services-heading services-heading ."
      "services services services services services services"
      ". contact-heading contact-heading contact-heading contact-heading ."
      ". contact contact contact contact ."
      ". contact contact contact contact ."
      ". clients-heading clients-heading clients-heading clients-heading ."
      "clients clients clients clients clients clients"
      ". footer footer footer footer .";
  }

  @media (min-width: 100em) {
    column-gap: 1.25em;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 2.5em auto auto 2.4em 22.421875em 2.4em 12.5em 12.5em 2.4em auto auto;
    grid-template-areas:
      "notice notice notice notice notice notice"
      "nav nav nav nav nav nav"
      ". hero hero hero hero ."
      ". services-heading services-heading services-heading services-heading ."
      "services services services services services services"
      ". contact-heading contact-heading contact-heading contact-heading ."
      ". contact contact contact contact ."
      ". contact contact contact contact ."
      ". clients-heading clients-heading clients-heading clients-heading ."
      "clients clients clients clients clients clients"
      ". footer footer footer footer .";
  }

  @media (prefers-color-scheme: dark) {
    background-color: #1e1e1e;
  }
}

a {
  color: $black;
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: $black;
}

h1 {
  font-size: 1.875rem;
  color: $dark;
}

h2 {
  font-size: 1.5625rem;
  color: $dark;
  margin: 0 0 0.32em 0;
}

a,
p,
h1,
h2 {
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  color: $denali;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

noscript {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 15;
  padding: 10%;
  background-color: $white;
}

/* Notch */
.services-heading,
.contact-heading,
.clients-heading {
  padding-right: calc(env(safe-area-inset-right) + (20em / 30));
  padding-left: calc(env(safe-area-inset-left) + (20em / 30));
}

/* Shadows */
ul,
nav,
.card,
.client-img img {
  @include shadow();
}

/* Card */
.card {
  border-radius: 0.9375em;
  transition: transform 0.5s;
  background-color: $white;

  &:hover {
    transform: scale(1.025);
  }
}

/* List */
ul {
  display: none;
  position: fixed;
  padding: 25px;
  border-radius: 15px;
  z-index: 5;
  background-color: #ffffff;

  @media (prefers-color-scheme: dark) {
    background-color: $dark;
    color: $white;
  }
}

li {
  list-style-type: none;

  a:hover {
    text-decoration: underline;
  }
}

/* Notice */
.notice {
  width: 100%;
  height: 2.5em;
  gap: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0.5em 1em;
  z-index: 9999;
  background-color: yellow;
  grid-area: notice;

  svg {
    display: block;
  }

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

}

/* Nav */
nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: 1.25em 1fr 1.25em;
  grid-template-areas: ". nav-content .";

  @media (min-width: 75em) {
    column-gap: 1.25em;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    grid-template-areas: ". nav-content .";
  }

  @media (min-width: 100em) {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". nav-content .";
  }

  width: 100%;
  position: fixed;
  top: 2.5em;
  z-index: 1;
  background-color: $white;

  a:hover {
    color: $denali;
  }
}

.nav-content {
  display: grid;
  background-color: inherit;
  grid-area: nav-content;
  grid-template-rows: 3.75em auto;
  grid-template-columns: 13.9375em auto;
  grid-template-areas:
    "nav-svg menu-btn"
    "mobile-menu mobile-menu";
  padding: 0 $safe-area-inset-right 0 $safe-area-inset-left;

  @media (min-width: 62em) {
    grid-template-rows: 3.75em;
    grid-template-columns: 17.421875em auto;
    grid-template-areas: "nav-svg desktop-menu";
  }
}

.nav-logo {
  svg {
    grid-area: nav-svg;
    height: 1.25em;
    margin: 1.25em 0;
  }

  @media (min-width: 75em) {
    svg {
      height: 1.5625em;
      margin: 1.09375em 0;
    }
  }
}

.svg-letter {
  fill: #000000;

  @media (prefers-color-scheme: dark) {
    fill: #ffffff;
  }
}

.mobile-menu {
  grid-area: mobile-menu;
  display: none;

  a {
    margin: calc(16em / 18) 0;
    font-size: 1.125rem;
    display: block;
  }
}

.menu-btn {
  grid-area: menu-btn;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875em;
  height: 3.75em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn__burger {
  width: 1.875em;
  height: 0.125em;
  background-color: $black;
  transition: all 0.3s ease-in-out;

  @media (prefers-color-scheme: dark) {
    background-color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1.875em;
    height: 0.125em;
    background-color: $black;
    transition: all 0.3s ease-in-out;
    transform: translateY(0.625em);

    @media (prefers-color-scheme: dark) {
      background-color: $white;
    }
  }
}

.menu-btn.open {
  .menu-btn__burger {
    transform: rotate(-45deg);
  }

  .menu-btn__burger::after {
    transform: rotate(90deg);
  }
}

@media (min-width: 62em) {
  .mobile-menu {
    display: none;
  }

  .menu-btn {
    display: none;
  }
}

.desktop-menu {
  grid-area: desktop-menu;
  display: none;
  justify-self: end;
  height: 100%;
  align-items: center;

  a {
    font-size: 1.125em;
    display: inline-block;
  }

  #menu-services {
    margin: 0 calc(16em / 18) 0 0;
  }

  #menu-clients,
  #menu-contact {
    margin: 0 calc(16em / 18);
  }

  /*#menu-knowledgebase {
    margin: 0 0 0 calc(16em / 18);
  }*/
  @media (min-width: 62em) {
    display: flex;
  }
}

/* Hero */
.hero {
  display: grid;
  gap: 1.25em;
  grid-area: hero;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero-left"
    "hero-right";
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);

  @media (min-width: 36em) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "hero-left hero-left"
      "hero-right hero-right";
  }

  @media (min-width: 48em) {
    gap: 2.5em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero-left hero-right";
  }

  @media (min-width: 62em) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero-left hero-right";
  }

  @media (min-width: 75em) {
    gap: 5em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "hero-left hero-left hero-right hero-right";
  }

  @media (min-width: 81.25em) {
    gap: 4em;
    grid-template-rows: auto;
    grid-template-columns: 0 1fr 1fr 0;
    grid-template-areas: ". hero-left hero-right .";
  }

  @media (min-width: 100em) {
    gap: 5em;
    grid-template-rows: auto;
    grid-template-columns: 0 1fr 1fr 0;
    grid-template-areas: ". hero-left hero-right .";
  }
}

.hero-left {
  grid-area: hero-left;

  h1 {
    font-size: 2.34375em;
  }

  p {
    font-size: 1.25rem;
    margin: 0.8em 0;
  }
}

.hero-right {
  grid-area: hero-right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;

  @media (min-width: 36em) {
    width: 70%;
  }

  @media (min-width: 48em) {
    width: 100%;
  }

  @media (min-width: 75em) {
    width: 90%;
  }
}

/* Services */
#services-heading {
  grid-area: services-heading;
  margin: 0 $safe-area-inset-right 0 $safe-area-inset-left;
}

.services {
  grid-area: services;
  display: flex;
  flex-direction: row;
  padding: 2.5em 0 2.5em calc(env(safe-area-inset-left) + 1.25em);
  margin: -2.5em 0;
  overflow-x: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  -ms-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: "";
    padding-right: calc(env(safe-area-inset-right) + 1.25em);
  }

  .card {
    flex-basis: calc(var(--bodyWidth) * 0.8);
    flex-shrink: 0;
    height: 21.875em;
    padding: 1.5625em;
    margin-right: 1.25em;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .card:last-child {
    margin-right: 0;
  }

  @media (min-width: 36em) {
    .card {
      flex-basis: calc(var(--bodyWidth) / 2);
    }
  }

  @media (min-width: 48em) {
    .card {
      flex-basis: calc(var(--bodyWidth) * 0.4);
    }
  }

  @media (min-width: 62em) {
    .card {
      flex-basis: calc(var(--bodyWidth) * 0.3);
    }
  }

  @media (min-width: 75em) {
    padding: 2.5em 0 2.5em calc(var(--fractionWidth) / 2 + 1.25em);

    &::after {
      padding-right: calc(var(--fractionWidth) / 2 + 1.25em);
    }

    .card {
      flex-basis: calc(var(--fractionWidth) * 2.25);
    }
  }

  @media (min-width: 100em) {
    padding: 2.5em 0 2.5em calc(var(--fractionWidth) + 1.25em);

    &::after {
      padding-right: calc(var(--fractionWidth) + 1.25em);
    }

    .card {
      flex-basis: calc(var(--fractionWidth) * 2);
    }
  }
}

/* Contact */
#contact-heading {
  grid-area: contact-heading;
  margin: 0 $safe-area-inset-right 0 $safe-area-inset-left;
}

.contact {
  display: grid;
  gap: 1.25em;
  grid-area: contact;
  grid-template-rows: 11.375em auto 25em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "con-contact"
    "con-text"
    "con-map";

  @media (min-width: 36em) {
    grid-template-rows: 11.375em auto 18.75em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "con-contact con-img"
      "con-text con-text"
      "con-map con-map";
    margin: 0 $safe-area-inset-right 0 $safe-area-inset-right;
  }

  @media (min-width: 48em) {
    grid-template-rows: 11.375em 12.5em 18.75em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "con-contact con-text"
      "con-img con-text"
      "con-map con-map";
  }

  @media (min-width: 62em) {
    grid-template-rows: 11.375em 12.5em 25em;
    grid-template-areas:
      "con-contact con-text"
      "con-img con-text"
      "con-map con-map";
  }

  @media (min-width: 75em) {
    grid-template-rows: 12.5em 12.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "con-contact con-text con-map con-map"
      "con-img con-text con-map con-map";
  }
}

.con-contact {
  grid-area: con-contact;
  padding: 1.5625em;

  h3 {
    margin: 0 0 1em 0;
    line-height: 1;
  }
}

.con-email,
.con-mobile {
  font-size: 1rem;
  line-height: 1;
}

.con-mobile {
  margin: 0.75em 0 1em 0;
}

#contact-savebutton {
  color: $denali;
  line-height: 1;
}

.con-img {
  grid-area: con-img;
  background-image: url('https://src.studiodenali.cz/website/contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 36em) {
    display: none;
  }
}

.con-text {
  grid-area: con-text;
  padding: 1.5625em;

  img {
    width: 100%;
    border-radius: 0.625em;
    margin: 0 0 0.5em 0;
  }

  @media (min-width: 36em) {
    img {
      display: none;
    }
  }
}

.con-map {
  grid-area: con-map;

  iframe {
    border-radius: 0.9375em;
  }
}

/* Clients */
#clients-heading {
  grid-area: clients-heading;
  margin: 0 $safe-area-inset-right 0 $safe-area-inset-left;
}

.clients {
  grid-area: clients;
  display: flex;
  flex-direction: row;
  padding: 2.5em calc(env(safe-area-inset-right) + 1.25em) 2.5em calc(env(safe-area-inset-left) + 1.25em);
  margin: -2.5em 0;
  overflow-x: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  -ms-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: "";
    padding-right: 1.25em;
  }

  .card {
    flex-basis: calc(var(--bodyWidth) * 0.8);
    flex-shrink: 0;
    height: 5.625em + calc(var(--fractionWidth) * 3.2);
    padding: 1.5625em 1.5625em 0 1.5625em;
    margin-right: 1.25em;
    display: grid;
    grid-template-rows: 1.3em 2.03125em auto auto;
    grid-template-columns: 1fr;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }

    h2 {
      margin: 0;
    }

    p {
      margin: 0.5em 0 1em 0;
    }
  }

  .card:last-child {
    margin-right: 0;
  }

  @media (min-width: 36em) {
    .card {
      flex-basis: calc(var(--bodyWidth) / 2);
    }
  }

  @media (min-width: 48em) {
    .card {
      flex-basis: calc(var(--bodyWidth) * 0.4);
    }
  }

  @media (min-width: 62em) {
    .card {
      flex-basis: calc(var(--bodyWidth) * 0.3);
    }
  }

  @media (min-width: 75em) {
    padding: 2.5em calc(var(--fractionWidth) / 2 + 1.25em) 2.5em calc(var(--fractionWidth) / 2 + 1.25em);

    &::after {
      padding-right: 0;
    }

    .card {
      flex-basis: calc(var(--fractionWidth) * 2.25);
    }

    .card:last-child {
      margin-right: -1.25em;
    }
  }

  @media (min-width: 100em) {
    padding: 2.5em calc(var(--fractionWidth) + 1.25em) 2.5em calc(var(--fractionWidth) + 1.25em);

    .card {
      flex-basis: calc(var(--fractionWidth) * 2);
    }
  }
}

.client-img {
  display: flex;
  align-items: flex-end;
  padding: 0 10%;
}

/* Footer */
footer {
  margin: auto;
  display: grid;
  grid-area: footer;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);

  p {
    font-size: 1.25rem;
    text-align: center;
    margin: 0.75em 0 2em 0;
  }
}

.listlanguages {
  display: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

  nav,
  .menu input,
  .card,
  noscript {
    background-color: $dark;
  }
}