/* Copyright © 2021 Jakub Klapka & David Brzý. All rights reserved. */

@import "./fonts";

$denali: #4f54ff;
$grey: #e5e5e5;
$dark: #272727;
$link: #0d6efd;
$black: #000000;
$white: #ffffff;

@mixin shadow {
  box-shadow: #959da533 0 8px 24px;
  @media (prefers-color-scheme: dark) {
    box-shadow: #00000033 0 8px 24px;
  }
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-top: 5%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  background-color: #fafafa;
  /*display: grid;
  grid-template-columns: 1fr 1400px 1fr;
  grid-template-rows: 100px 50px 500px 50px 50px 500px 50px 250px 50px 200px;
  gap: 25px 0;
  grid-template-areas:
    ". . ."
    ". h11 ."
    "services-container services-container services-container"
    ". . ."
    ". h14 ."
    ". contact ."
    ". h12 ."
    ". clients ."
    ". h13 ."
    ". . ."
    ". h15 ."
    ". pricing .";*/
    @media (prefers-color-scheme: dark) {
      background-color: rgb(30, 30, 30);
    }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1400px 1fr;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

h2 {
  font-size: 30px;
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

h3 {
  margin: 0;
  font-size: 25px;
  color: $dark;
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

h4 {
  margin: 0;
  color: $denali;
  font-weight: 400;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style-type: none;
  a:hover{
    text-decoration: underline;
  }
}

ul{
  position: fixed;
  padding: 25px;
  border-radius: 15px;
  z-index: 5;
  @include shadow();
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
    color: $white;
  }
}

/* Nav */

nav {
  background-color: $white;
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  @include shadow();
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: ". nav-content .";
  svg {
    width: 24px;
  }
  a {
    float: left;
    font-size: 18px;
    margin: 24px 16px;
    @media (prefers-color-scheme: dark) {
      color: $white;
    }
  }
  a:hover {
    color: $denali;
  }
}

.nav-content {
  grid-area: nav-content;
}

.listlanguages {
  float: right;
  padding: 4px 6px;
  margin: 20.725px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
  background-color: $denali;
  border: none;
  border-radius: 10px;
}

/* Card */

.card {
  border-radius: 15px;
  transition: transform 0.5s;
  @include shadow();
  background-color: $white;
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }
}

.card:hover {
  transform: scale(1.025);
}

/* Services */

#services-heading {
  grid-area: h11;
}

.services {
  width: 100%;
  height: 500px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: inline;
  a {
    width: 340px;
    height: 350px;
    margin: 10px;
    padding: 25px;
    white-space: normal;
    display: inline;
  }
}

/* Contact */

.grid-contact {
  grid-template-rows: 50px 500px;
  grid-template-areas: ". h12 ." ". contact .";
}

#contact-heading {
  grid-area: h12;
}

.contact {
  grid-area: contact;
  display: grid;
  grid-template-rows: 500px 500px 500px;
  grid-template-columns: 1fr;
  grid-template-areas: "con-contact" "con-text" "con-map";
  grid-row-gap: 20px;
    img{
      width: 100%;
      border-radius: 10px;
    }
}

@media (min-width: 992px) {
  .contact {
    grid-template-rows: 500px 500px;
    grid-template-columns: 1fr;
    grid-template-areas: "con-contact con-text" "con-map";
    grid-column-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .contact {
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "con-contact con-text con-map";
    grid-column-gap: 20px;
  }
}

.con-contact, .con-text {
  width: 340px;
  padding: 25px;
}

.con-contact {
  grid-area: con-contact;
  h3 {
    margin-bottom: 16px;
  }
}

.con-email, .con-mobile {
  font-size: 20px;
  margin: 8px 0;
}

.con-download {
  color: $denali;
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
}

.con-text {
  grid-area: con-text;
}

.con-map {
  grid-area: con-map;
  width: 680px;
}

/* Clients */

.clients {
  grid-area: clients;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  a {
    padding: 25px;
    @media (prefers-color-scheme: dark) {
      background-color: $dark;
    }
  }
}

.client-img {
  margin-left: 10%;
  width: 80%;
  margin-bottom: -29px;
  @include shadow();
}

/* Pricing */

.pricing {
  grid-area: pricing;
}