@import "_variables";

header#header-mobile {
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid map-get($colors, "lightgray");
    background-color: map-get($colors, "white");

    .container {
        display: grid;
        grid-template: 5em / auto 1fr 2.75em;
        align-items: center;
    }

    a#logo {
        color: map-get($colors, "black");
        font-size: 1.6rem;
        font-weight: map-get($font-weight, "semibold");
        text-decoration: none;
    }

    #menu_open_btn {
        height: 2.5em;
        display: grid;
        place-items: center;
        grid-area: 1/3/1/3;
        cursor: pointer;

        svg {
            height: 100%;
        }
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) {
        display: none;
    }
}

#header_slide {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 3;
    transform: translateY(0);
    transition: transform 250ms ease-in-out;

    &.visible {
        transform: translateY(100%);
    }

    &.hidden {
        transform: translateY(200%);
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) {
        display: none;
    }
}

#header_menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    transform: translateY(0);
    padding-bottom: 6em;
    background-color: map-get($colors, "white");
    transition: transform 250ms ease-in-out;

    &.visible {
        transform: translateY(100%);
    }

    .container {
        row-gap: 2em;
        display: grid;
        grid-template: auto 1fr / 100%;

        header {
            display: grid;
            grid-template: 5em / auto 1fr 3em;
            align-items: center;

            a#logo {
                color: map-get($colors, "black");
                font-size: 1.6rem;
                font-weight: map-get($font-weight, "semibold");
                text-decoration: none;
            }

            #menu_close_btn {
                height: 2.75em;
                display: grid;
                place-items: center;
                grid-area: 1/3/1/3;
                cursor: pointer;

                svg {
                    height: 100%;
                }
            }
        }

        ul {
            list-style-type: none;

            li {
                margin: 1.5em 0;
                font-size: 1.5rem;
                cursor: pointer;

                a {
                    display: inline-block;
                    color: inherit;
                    text-decoration: none;

                    &.btn-black {
                        color: map-get($colors, "white");
                    }
                }

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: portrait) {
                    margin: 1.25em 0;
                    font-size: 1.75rem;
                }
            }
        }

        nav.socials {
            gap: 1.25em;
            display: flex;
            flex-wrap: nowrap;
            margin-top: 1.75em;

            a {
                height: 2.5em;
                display: block;

                svg,
                img {
                    height: 100%;
                    display: block;
                }

                @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: portrait) {
                    height: 2.75em;
                }
            }

            @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: portrait) {
                gap: 1.5;
            }
        }

        @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: portrait) {
            row-gap: 3em;
        }
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) {
        display: none;
    }
}

header#header-desktop {
    width: 100%;
    height: 5.5em;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid map-get($colors, "lightgray");
    background-color: map-get($colors, "white");

    .container {
        display: grid;
        grid-template: 5.5em / auto 1fr auto;
        align-items: center;
    }

    a#logo {
        color: map-get($colors, "black");
        font-size: 1.8rem;
        font-weight: map-get($font-weight, "semibold");
        text-decoration: none;

        @media only screen and (min-width: map-get($breakpoints, "xl")) {
            font-size: 1.9rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "4xl")) {
            font-size: 2.3rem;
        }
    }

    nav {
        gap: 3em;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        grid-area: 1/3/1/3;

        a {
            text-decoration: none;

            &.link {
                color: inherit;
            }
        }

        a.link,
        a.btn,
        div.anchor {
            font-size: 1.2rem;
            //font-weight: 500;
            cursor: pointer;

            @media only screen and (min-width: map-get($breakpoints, "xl")) {
                font-size: 1.25rem;
            }

            @media only screen and (min-width: map-get($breakpoints, "4xl")) {
                font-size: 1.3rem;
            }
        }

        a.btn {
            margin-left: .3em;
        }
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) {
        display: block;
    }
}

.header_space {
    height: 5em;

    @media only screen and (min-width: map-get($breakpoints, "md")) {
        height: 5.5em;
    }
}