$font: "Poppins", sans-serif;

$breakpoints: (
    "sm": 36em,
    "md": 48em,
    "lg": 62em,
    "xl": 75em,
    "2xl": 87.5em,
    "3xl": 100em,
    "fhd": 120em,
);

$colors: (
    "black": #000,
    "white": #fff,
    "darkgray": #b2b2b2,
    "darkgray-hover": #8c8c8c,
    "gray": #d9d9d9,
    "lightgray": #f2f2f2,
);

$font-weight: (
    "regular": 400,
    "md": 500, // medium
    "semibold": 600,
    "bold": 700,
);