$font: "Poppins", sans-serif;

$breakpoints: (
    "sm": 36em, // 576px
    "md": 48em, // 768px
    "lg": 62em, // 992px
    "xl": 75em, // 1200px
    "2xl": 81.25em, // 1300px
    "3xl": 87.5em, // 1400px
    "4xl": 100em, // 1600px
    "fhd": 120em, // 1920px
);

$colors: (
    "black": #000,
    "white": #fff,
    "text-gray": #afafaf,
    "darker-gray": #585858,
    "darkgray": #b2b2b2,
    "gray": #d9d9d9,
    "lightgray": #f2f2f2,
    "blue": #0052a4, // Link
    "navy": #003366, // Link hover
    "red": #ff0000, // Contact form field error
    "green": #08a400, // Contact form field success
);

$font-weight: (
    "regular": 400,
    "md": 500, // medium
    "semibold": 600,
    "bold": 700,
);