@import "_variables";

h1.page_title {
    margin: 1em 0;
}

/*.filters {
    gap: 5em;
    display: flex;
    margin: 4em 0;

    #all_posts,
    .category {
        font-size: 1.75rem;
        transition: color 200ms ease-in-out;
        cursor: pointer;

        &[data-active=true] {
            color: map-get($colors, "black");
        }

        &[data-active=false] {
            color: map-get($colors, "darkgray");

            &:hover {
                color: map-get($colors, "black");
            }
        }
    }
}*/

.posts {
    gap: 4em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    //display: flex;
    //flex-wrap: wrap;
    margin-bottom: 14em;

    a.post {
        //width: calc(33.3333% - 1.6666em);
        color: map-get($colors, "black");
        text-decoration: none;

        &[data-visible=true] {
            display: block;
        }

        &[data-visible=false] {
            display: none;
        }

        h4 {
            color: map-get($colors, "text-gray");
            font-size: 1.25rem;
            font-weight: map-get($font-weight, "regular");
        }
    
        h2 {
            line-height: 1.5;
            font-size: 2.5rem;
            font-weight: map-get($font-weight, "regular");
        }

        p.info {
            margin-top: .25em;
            color: map-get($colors, "text-gray");
        }

        .excerpt {
            margin-top: .4em;

            p {
                color: map-get($colors, "text-gray");
            }
        }
    }
}