@import "_variables";

main.thank_you {
    margin: 4em 0;

    h1 {
        margin-bottom: .5em;
        font-size: 2.5rem;
        text-align: center;

        @media only screen and (min-width: map-get($breakpoints, "sm")) {
            margin-bottom: .5em;
            font-size: 3.5rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "lg")) {
            font-size: 4rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "xl")) {
            font-size: 4.5rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "4xl")) {
            font-size: 5rem;
        }
    }

    .container>p {
        margin: 1em 0;
        color: map-get($colors, "darker-gray");
        font-size: 1.5rem;
        text-align: center;

        a {
            color: map-get($colors, "blue");
            text-decoration: none;
            transition: color 200ms ease-in-out;

            &:hover {
                color: map-get($colors, "navy");
            }
        }

        @media only screen and (min-width: map-get($breakpoints, "md")) {
            font-size: 1.75rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "lg")) {
            max-width: 25em;
            margin: 1em auto;
        }

        @media only screen and (min-width: map-get($breakpoints, "xl")) {
            font-size: 2rem;
        }
    }

    .container>div.btn {
        display: flex;
        justify-content: center;
        margin: 1em 0;

        a {
            color: map-get($colors, "white");
            font-size: 1.2rem;
            text-decoration: none;

            @media only screen and (min-width: map-get($breakpoints, "lg")) {
                font-size: 1.4rem;
            }
        }
    }

    h2 {
        margin: 2em 0 1em 0;
        font-size: 2rem;
        text-align: center;

        @media only screen and (min-width: map-get($breakpoints, "sm")) {
            font-size: 2.5rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "lg")) {
            margin: 2.5em 0 1em 0;
            font-size: 2.75rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "xl")) {
            font-size: 3rem;
        }
    }

    a.post {
        display: block;
        margin-top: 2em;
        color: map-get($colors, "black");
        text-decoration: none;

        h4 {
            margin-bottom: .25em;
            color: map-get($colors, "text-gray");
            font-size: 1.2rem;
            font-weight: map-get($font-weight, "regular");
            text-align: center;

            @media only screen and (min-width: map-get($breakpoints, "md")) {
                font-size: 1.25rem;
            }
        }

        h3 {
            max-width: 20em;
            margin: auto;
            line-height: 1.5;
            font-size: 1.75rem;
            font-weight: map-get($font-weight, "regular");
            text-align: center;

            @media only screen and (min-width: map-get($breakpoints, "md")) {
                font-size: 2rem;
            }

            @media only screen and (min-width: map-get($breakpoints, "lg")) {
                font-size: 2.25rem;
            }
        }

        p.info {
            margin-top: .5em;
            color: map-get($colors, "text-gray");
            font-size: 1.1rem;
            text-align: center;

            @media only screen and (min-width: map-get($breakpoints, "md")) {
                font-size: 1.15rem;
            }
        }

        .btn {
            display: inline-block;
            margin: 1em auto 0 auto;
            font-size: 1.2rem;

            @media only screen and (min-width: map-get($breakpoints, "lg")) {
                font-size: 1.4rem;
            }
        }
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: landscape) {
        margin: 6em 0;
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: portrait) {
        margin: 8em 0;
    }

    @media only screen and (min-width: map-get($breakpoints, "lg")) {
        margin: 8em 0;
    }

    @media only screen and (min-width: map-get($breakpoints, "2xl")) {
        margin: 10em 0;
    }
}