@import "_variables";

main.contact_page {
    .contact_form {
        margin-bottom: 6em;

        p {
            color: map-get($colors, "darkest-gray");
            font-size: 1.5rem;

            &.margin {
                margin: 1.5em 0;
            }
        }

        input {
            margin: 0 .5em;
            padding: .75em 1.5em;
            border: 0;
            border-radius: 10em;
            background-color: map-get($colors, "lightgray");
            font-family: $font;
            font-size: 1.4rem;

            &.ml-1 {
                margin-left: 1em;
            }

            &.ml-05 {
                margin-left: .5em
            }

            &.mr-05 {
                margin-right: .5em;
            }

            &:focus {
                outline: none;
            }

            &#first_name,
            &#last_name {
                width: 15em;
            }

            &#email {
                width: 20em;
            }

            &#company {
                width: 25em;
            }
        }

        section {
            margin: 3em 0;
        }

        .services {
            gap: 2em;
            display: flex;
            margin-top: 1.5em;

            .service {
                display: inline-block;
                position: relative;
                overflow: hidden;
                padding: 1em;
                border-radius: 50px;
                background-color: map-get($colors, "lightgray");
                color: map-get($colors, "black");
                font-size: 1.4rem;
                transition: 400ms;
                -webkit-mask-image: -webkit-radial-gradient(map-get($colors, "white"), map-get($colors, "black"));
                cursor: pointer;

                &:hover::after {
                    transform: translateX(0);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: map-get($colors, "gray");
                    width: 100%;
                    height: 100%;
                    border-radius: 50px;
                    transform: translateX(-100%);
                    z-index: 0;
                    transition: 400ms;
                }

                &[data-selected=true] {
                    color: map-get($colors, "white");
                    background-color: map-get($colors, "black");

                    &::after {
                        background: map-get($colors, "black");
                    }
                }

                span {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        #message_wrapper {
            display: grid;
            grid-template: 1fr/ 55em 1fr;

            * {
                grid-area: 1/1/1/1;
            }

            &::after {
                content: attr(data-replicated-value) " ";
                white-space: pre-wrap;
                visibility: hidden;
                grid-area: 1/1/1/1;
            }

            textarea#message {
                resize: none;
                margin-top: 2em;
                padding: 2em;
                border: 0;
                border-radius: 2em;
                background-color: map-get($colors, "lightgray");
                white-space: break-spaces;
                font-family: $font;

                &:focus {
                    outline: none;
                }
            }

            &::after,
            textarea#message {
                padding: 2em;
                font-size: 1.15rem;
            }
        }
    }

    button {
        border: 0;
        font-family: $font;
        font-size: 1.4rem;
        cursor: pointer;
    }
}