@import "_variables";

main.confirmation_page {
    margin: 4em 0;

    h1 {
        margin-bottom: .5em;
        font-size: 2.5rem;
        text-align: center;

        @media only screen and (min-width: map-get($breakpoints, "sm")) {
            margin-bottom: .5em;
            font-size: 3.5rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "lg")) {
            font-size: 4rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "xl")) {
            font-size: 4.5rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "4xl")) {
            font-size: 5rem;
        }
    }

    p {
        color: map-get($colors, "darker-gray");
        font-size: 1.5rem;
        text-align: center;

        @media only screen and (min-width: map-get($breakpoints, "md")) {
            font-size: 1.75rem;
        }

        @media only screen and (min-width: map-get($breakpoints, "lg")) {
            max-width: 25em;
            margin: auto;
        }

        @media only screen and (min-width: map-get($breakpoints, "xl")) {
            font-size: 2rem;
        }
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: landscape) {
        margin: 6em 0;
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) and (orientation: portrait) {
        margin: 8em 0;
    }

    @media only screen and (min-width: map-get($breakpoints, "lg")) {
        margin: 8em 0;
    }

    @media only screen and (min-width: map-get($breakpoints, "2xl")) {
        margin: 10em 0;
    }
}