@import "_variables";

main.contact_page {
    .contact_form {
        margin: 4em 0 6em 0;

        p {
            margin-bottom: 1em;
            font-size: 1.5rem;
        }

        input {
            margin: 0 .5em;
            padding: .75em 1.5em;
            border: 0;
            border-radius: 10em;
            background-color: map-get($colors, "lightgray");
            font-family: $font;
            font-size: 1.15rem;

            &:focus {
                outline: none;
            }

            &#first_name,
            &#last_name {
                width: 15em;
            }

            &#email {
                width: 20em;
            }
        }

        .message {
            margin: 4em 0;

            #message_wrapper {
                display: grid;
                grid-template: 1fr/ 55em 1fr;

                * {
                    grid-area: 1/1/1/1;
                }

                &::after {
                    content: attr(data-replicated-value) " ";
                    white-space: pre-wrap;
                    visibility: hidden;
                    grid-area: 1/1/1/1;
                }

                textarea#message {
                    resize: none;
                    padding: 2em;
                    border: 0;
                    border-radius: 2em;
                    background-color: map-get($colors, "lightgray");
                    white-space: break-spaces;
                    font-family: $font;

                    &:focus {
                        outline: none;
                    }
                }

                &::after,
                textarea#message {
                    padding: 2em;
                    font-size: 1.15rem;
                }
            }
        }

        button {
            border: 0;
            font-family: $font;
            font-size: 1.4rem;
            cursor: pointer;
        }
    }
}