@import "_variables";

main.form-sent {
    margin: 10em 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: map-get($font-weight, "regular");
    text-align: center;

    @media only screen and (min-width: map-get($breakpoints, "sm")) {
        font-size: 3rem;
    }

    @media only screen and (min-width: map-get($breakpoints, "md")) {
        font-size: 3.5rem;
    }

    @media only screen and (min-width: map-get($breakpoints, "xl")) {
        font-size: 4rem;
    }

    @media only screen and (min-width: map-get($breakpoints, "2xl")) {
        font-size: 4.5rem;
    }

    @media only screen and (min-width: map-get($breakpoints, "fhd")) {
        font-size: 5.5rem;
    }
}

p {
    margin-top: 2em;
    color: map-get($colors, "darkest-gray");
    font-size: 2.5rem;
    text-align: center;
}