@charset "UTF-8";
/* Copyright © 2021 Jakub Klapka & David Brzý. All rights reserved. */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/roboto-v27-latin-ext_latin-regular.eot?bf67d9a025147d6a21e8f4b227c93d5d);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/roboto-v27-latin-ext_latin-regular.eot?bf67d9a025147d6a21e8f4b227c93d5d) format("embedded-opentype"), url(/fonts/roboto-v27-latin-ext_latin-regular.woff2?671b8a3375d3edd1e0e00d3d6f547cbd) format("woff2"), url(/fonts/roboto-v27-latin-ext_latin-regular.woff?5bfc683d7010de0511e3a5bf72777476) format("woff"), url(/fonts/roboto-v27-latin-ext_latin-regular.ttf?15f198bc69486e515662dae02ece15cb) format("truetype"), url(/fonts/roboto-v27-latin-ext_latin-regular.svg?1b1af1e4b3a278058097e96a21f80371) format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/roboto-v27-latin-ext_latin-500.eot?4f7c2d1c0eeaba94f52e8b66191a1c8f);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/roboto-v27-latin-ext_latin-500.eot?4f7c2d1c0eeaba94f52e8b66191a1c8f) format("embedded-opentype"), url(/fonts/roboto-v27-latin-ext_latin-500.woff2?d79d191e69424d713e23823a158babb0) format("woff2"), url(/fonts/roboto-v27-latin-ext_latin-500.woff?3dc2c79451097edaf771aa2959357123) format("woff"), url(/fonts/roboto-v27-latin-ext_latin-500.ttf?1b2196a5fd069390f1447dc3be31584d) format("truetype"), url(/fonts/roboto-v27-latin-ext_latin-500.svg?29ec91e5b4e3ec4c32004f082b447329) format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/roboto-v27-latin-ext_latin-700.eot?adad44ffe666baf2a55c45ce601e17bd);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/roboto-v27-latin-ext_latin-700.eot?adad44ffe666baf2a55c45ce601e17bd) format("embedded-opentype"), url(/fonts/roboto-v27-latin-ext_latin-700.woff2?02efd1dc19dbb85f5831613991f3450c) format("woff2"), url(/fonts/roboto-v27-latin-ext_latin-700.woff?1b274fb02df91effa8d8354eefd6be05) format("woff"), url(/fonts/roboto-v27-latin-ext_latin-700.ttf?96fb238c4b4dbfb0e4d09d614065e0e9) format("truetype"), url(/fonts/roboto-v27-latin-ext_latin-700.svg?32f463535c0a507946f737940bfc8595) format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/roboto-v27-latin-ext_latin-900.eot?07e09e4089e00ae3a473ef7f28dafb99);
  /* IE9 Compat Modes */
  src: local(""), url(/fonts/roboto-v27-latin-ext_latin-900.eot?07e09e4089e00ae3a473ef7f28dafb99) format("embedded-opentype"), url(/fonts/roboto-v27-latin-ext_latin-900.woff2?74c027146b60623153348001144cdc15) format("woff2"), url(/fonts/roboto-v27-latin-ext_latin-900.woff?a8f7983fafe21ba524c7a56ab1405dc7) format("woff"), url(/fonts/roboto-v27-latin-ext_latin-900.ttf?6bcc1332d58f80bb8783dde070c2f50e) format("truetype"), url(/fonts/roboto-v27-latin-ext_latin-900.svg?65e4130af17899facd7ef501165985a9) format("svg");
  /* Legacy iOS */
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 5%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #272727;
  background-color: #fafafa;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 50px 50px 390px 50px 350px 350px 350px 50px;
  grid-template-areas: "nav nav nav" ". services-heading ." "services services services" ". contact-heading ." ". con-contact ." ". con-text ." ". con-map .";
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
  }
}

/* Text */
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  p {
    color: #ffffff;
  }
}

h2 {
  font-size: 30px;
}

@media (prefers-color-scheme: dark) {
  h2 {
    color: #ffffff;
  }
}

h3 {
  margin: 0;
  font-size: 25px;
  color: #272727;
}

@media (prefers-color-scheme: dark) {
  h3 {
    color: #ffffff;
  }
}

h4 {
  margin: 0;
  color: #4f54ff;
  font-weight: 400;
}

/* Images */
img {
  max-width: 100%;
  max-height: 100%;
}

/* Card */
.card {
  border-radius: 15px;
  transition: transform 0.5s;
  box-shadow: #959da533 0 8px 24px;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: #00000033 0 8px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #272727;
  }
}

.card:hover {
  transform: scale(1.025);
}

/* List */
ul {
  display: none;
  position: fixed;
  padding: 25px;
  border-radius: 15px;
  z-index: 5;
  background-color: white;
  box-shadow: #959da533 0 8px 24px;
}

@media (prefers-color-scheme: dark) {
  ul {
    box-shadow: #00000033 0 8px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  ul {
    background-color: #272727;
    color: #ffffff;
  }
}

li {
  list-style-type: none;
}

li a:hover {
  text-decoration: underline;
}

/* Nav */
nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-areas: ". nav-content .";
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: #959da533 0 8px 24px;
}

@media (prefers-color-scheme: dark) {
  nav {
    box-shadow: #00000033 0 8px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  nav {
    background-color: #272727;
  }
}

nav svg {
  width: 24px;
}

nav a {
  float: left;
  font-size: 18px;
  margin: 24px 16px;
}

@media (prefers-color-scheme: dark) {
  nav a {
    color: #ffffff;
  }
}

nav a:hover {
  color: #4f54ff;
}

.nav-content {
  grid-area: nav-content;
}

.listlanguages {
  float: right;
  padding: 4px 6px;
  margin: 20.725px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4f54ff;
  border: none;
  border-radius: 10px;
}

/* Services */
#services-heading {
  grid-area: services-heading;
}

.services {
  grid-area: services;
  display: grid;
  grid-template-columns: 1.66fr 1.66fr 1.66fr 1.66fr 1.66fr 1.66fr;
  grid-template-areas: "service-1 service-2 service-3 service-4 service-5 service-6";
  column-gap: 20px;
  padding: 20px;
  overflow-x: scroll;
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-overflow-scrolling: touch;
  touch-action: pan-x;
}

.services .card {
  width: 80vw;
  height: 350px;
  padding: 25px;
}

.services .card:hover {
  cursor: grab;
}

.services .card:active {
  cursor: grabbing;
}

.services::-webkit-scrollbar {
  display: none;
}

/* Contact */
#contact-heading {
  grid-area: contact-heading;
}

.con-contact, .con-text {
  padding: 25px;
}

.con-contact {
  height: 200px;
  grid-area: con-contact;
}

.con-contact h3 {
  margin-bottom: 16px;
}

.con-email, .con-mobile {
  font-size: 20px;
  margin: 8px 0;
}

.con-text {
  grid-area: con-text;
  height: 350px;
}

.con-text img {
  width: 100%;
  border-radius: 10px;
}

.con-map {
  grid-area: con-map;
  height: 350px;
}

/* Clients

.clients {
  grid-area: clients;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  a {
    padding: 25px;
    @media (prefers-color-scheme: dark) {
      background-color: $dark;
    }
  }
}

.client-img {
  margin-left: 10%;
  width: 80%;
  margin-bottom: -29px;
  @include shadow();
}*/
/* Pricing

.grid-pricing {
  grid-template-rows: 50px 500px;
  grid-template-areas: ". h14 ." ". pricing .";
}

.pricing {
  grid-area: pricing;
}*/
