#over-elektra {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2
}

#over-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#elektra-image:hover {
    opacity: 50%;
}