@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

$black: #000000;
$white: #ffffff;
$grey: #e5e5e5;
$violet: #4f54ff;

html {
    max-width: 1920px;
    margin: auto;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.container-fluid {
    padding: 0 7.8125%;
}
.col {
    padding: 0.75rem;
}

/* Text */
p {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}
h1 {
    font-weight: 900;
    font-size: 3rem;
}
h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.8rem;
    margin-bottom: 1.05rem;
}
h3 {
    font-weight: 400;
    font-size: 1.75rem;
    margin: 0;
}  
h4 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1.25rem 0 0.625rem;
}  
h5 {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    margin: 1.875rem 0;
}  
h6 {
    font-weight: 500;
    font-size: 1rem;
    color: $white;
} 
a, a:link, a:visited, a:hover {
    text-decoration: none;
}

/* Mark */
.mark-black {
    background-color: $black;
    color: $white;
}
.mark-white {
    background-color: $white;
    color: $violet;
}

/* Header */
header {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.header-logo {
    width: 445px;
}

/* Main */
.hero {
    margin: 0 0 0.75rem 0;
    background-color: $grey;
}
.hero-left {
    padding: 68.5px 24px 0 68.5px;
}
.hero-right {
    padding: 68.5px 68.5px 0 24px;
}
.pricing {
    margin: 0 0 0.75rem 0;
    background-color: $violet;
    color: $white;
}
.pricing-left {
    padding: 68.5px 24px 0 68.5px;
}
.pricing-right {
    padding: 68.5px 68.5px 0 24px;
}
.contact {
    margin: 0 0 0.75rem 0;
    background-color: $grey;
}
.contact-left {
    padding: 4.28125rem 1.5rem 0 4.28125rem;
}
.contact-right {
    padding: 4.28125rem 4.28125rem 0 1.5rem;
}

/* Footer */
footer {
    background-color: $black;
    margin-top: 1.875rem;
    padding: 1.4rem 0px;
    color: $white;
}
.footer-logo {
    width: 319px;
}
footer p {
    margin: 9px 0;
    text-align: right;
    font-weight: 500;
}
footer a {
    color: $white;
}
footer .row {
    margin: 0;
}
footer .col {
    padding: 0;
}

/* Overlay */
.close-btn {
    width: 45.73px;
    height: 45.73px;
}