@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

$black: #000000;
$white: #ffffff;
$grey: #e5e5e5;
$violet: #4f54ff;

html {
    max-width: 1920px;
    margin: auto;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.container-fluid {
    padding: 0 7.8125%;
}
.col {
    padding: 0.75rem;
}

/* Text */
p {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}
h1 {
    font-weight: 900;
    font-size: clamp(28px, 2.5vw, 52px);
}
h2 {
    font-weight: 700;
    font-size: clamp(24px, 2vw, 36px);
    margin-top: 1.8rem;
    margin-bottom: 1.05rem;
}
h3 {
    font-weight: 400;
    font-size: clamp(20px, 1vw, 28px);
    margin: 0;
}
a, a:link, a:visited, a:hover {
    text-decoration: none;
}

/* Mark */
.mark-black {
    background-color: $black;
    color: $white;
}
.mark-white {
    background-color: $white;
    color: $violet;
}

/* Header */
header {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.header-logo {
    width: clamp(250px, 40%, 445px);
}

/* Main */
.hero {
    margin: 0 0 0.75rem 0;
    background-color: $grey;
}
.hero-left, .pricing-left, .contact-left {
    padding: 36px 16px;
}
.hero-right, .pricing-right, .contact-right {
    padding: 0 16px;
}
.pricing {
    margin: 0 0 0.75rem 0;
    background-color: $violet;
    color: $white;
}
.contact {
    margin: 0 0 0.75rem 0;
    background-color: $grey;
}
@media (min-width: 1200px) {
    .hero-left, .pricing-left, .contact-left {
        padding: 68.5px 24px 68.5px 68.5px;
    }
    .hero-right, .pricing-right, .contact-right {
        padding: 68.5px 68.5px 0 24px;
    }
}

/* Footer */
footer {
    background-color: $black;
    margin-top: 1.875rem;
    padding: 1.4rem 0px;
    color: $white;
}
.footer-logo {
    width: 319px;
}
footer p {
    margin: 9px 0;
    text-align: right;
    font-weight: 500;
}
footer a {
    color: $white;
}
footer .row {
    margin: 0;
}
footer .col {
    padding: 0;
}

/* Overlay */
.close-btn {
    width: 45.73px;
    height: 45.73px;
}