$black: #000;
$white: #fff;
$blue: #2874ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;

    @media only screen and (min-height: 37em) {
        scroll-snap-type: y mandatory;
    }
}

body {
    font-family: "Golos Text", sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500;
}

.container {
    padding: 1em;

    @media only screen and (min-width: 36em) {
        padding: 2em;
    }

    @media only screen and (min-width: 62em) {
        padding: 2.5em;
    }

    @media only screen and (min-width: 75em) {
        padding: 3em;
    }
}

#hero {
    width: 100%;
    min-height: 100vh;
    row-gap: 2em;
    display: grid;
    grid-template-rows: 8.75em 1fr;
    grid-template-columns: 100%;
    scroll-snap-align: start;

    header {
        row-gap: 1em;
        display: grid;
        grid-template-rows: 2.875em 2.875em;
        grid-template-columns: 100%;
        grid-template-areas: "logo" "btn";

        a#logo {
            height: 100%;
            display: flex;
            align-items: center;
            grid-area: logo;

            svg {
                width: auto;
                height: 2em;
                display: block;

                @media only screen and (min-width: 36em) {
                    height: 2.15em;
                }

                @media only screen and (min-width: 62em) {
                    height: 2.5em;
                }
            }
        }

        .btn-wrapper {
            display: flex;
            align-items: center;
            grid-area: btn;

            a {
                display: block;
                padding: .75em 1.75em;
                border: 1.5px solid $black;
                border-radius: 2em;
                color: $black;
                text-decoration: none;
                transition: background-color 125ms ease-in-out, color 125ms ease-in-out;

                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }

        @media only screen and (min-width: 23em) {
            grid-template-rows: 2.875em;
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo . btn";
        }
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .wrapper {
            width: 100%;
            height: auto;
            position: relative;
            top: -2.4375em;

            @media only screen and (min-width: 36em) {
                top: -2.4375em;
            }

            @media only screen and (min-width: 62em) {
                top: -4.9375em;
            }

            @media only screen and (min-width: 100em) {
                top: -5.4375em;
            }
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 500;
        }

        p.text {
            max-width: 40rem;
            margin-top: 2em;
            font-size: 1.1rem;
        }

        .container-tags {
            padding-right: 0;

            @media only screen and (max-width: 35.9375em) {
                padding-left: 0;
            }

            @media only screen and (min-width: 36em) {
                padding-top: 0;
            }
        }

        .tags {
            width: 100%;
            position: relative;
            overflow-x: hidden;

            .rows-wrapper {
                row-gap: 1.25em;
                display: flex;
                flex-wrap: wrap;

                .row {
                    column-gap: 1.25em;
                    display: flex;
                    flex-wrap: nowrap;

                    .tag {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        padding: .5em 1.5em;
                        border: 1.5px solid $black;
                        border-radius: 2em;

                        p {
                            white-space: nowrap;
                        }

                        &.tag-sm {
                            @media only screen and (min-width: 44em) {
                                display: none;
                            }
                        }
                    }
                }

                @media only screen and (max-width: 43.9375em) {
                    .row-1 {
                        animation: row-1 15s linear infinite;

                        @keyframes row-1 {
                            from {
                                transform: translateX(1em);
                            }

                            to {
                                transform: translateX(-40.605em);
                            }
                        }
                    }

                    .row-2 {
                        animation: row-2 15s linear infinite;

                        @keyframes row-2 {
                            from {
                                transform: translateX(1em);
                            }

                            to {
                                transform: translateX(-35.818875em);
                            }
                        }
                    }
                }

                @media only screen and (min-width: 44em) {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 100%;
                    position: static;
                }
            }

            @media only screen and (min-width: 44em) {
                height: auto;
                position: static;
                overflow-x: auto;
            }
        }
    }

    @media only screen and (min-width: 23em) {
        grid-template-rows: 4.875em 1fr;
    }

    @media only screen and (min-height: 44em) {
        row-gap: 0;
    }

    @media only screen and (min-width: 36em) and (max-height: 36.9375em) {
        height: auto;
    }

    @media only screen and (min-width: 48em) and (min-height: 37em) {
        height: 100vh;
    }

    @media only screen and (min-width: 36em) {
        grid-template-rows: 6.875em 1fr;
    }

    @media only screen and (min-width: 62em) {
        grid-template-rows: 9.875em 1fr;
    }

    @media only screen and (min-width: 75em) {
        grid-template-rows: 10.875em 1fr;
    }
}

section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    position: relative;
    scroll-snap-align: start;

    .background {
        width: 100%;

        &::after {
            content: "";
            display: none;
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));

            @media only screen and (min-width: 36em) {
                display: block;
                height: 100%;
            }

            @media only screen and (min-width: 62em) {
                height: 100%;
            }
        }

        video {
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;

            @media only screen and (min-width: 37em) {
                height: 100%;
            }
        }

        @media only screen and (min-width: 36em) {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        .mobile {
            height: 100%;

            header {
                margin-bottom: .75em;
            }

            .tags .tag {
                border: 1.5px solid $black;

                p {
                    color: $black;
                }
            }

            @media only screen and (min-width: 36em) {
                display: none;
            }
        }

        .desktop {
            display: none;

            h2 {
                color: $white;
                margin-bottom: .6em;
            }

            p {
                max-width: 40em;
                color: $white;
            }

            .tags .tag {
                border: 1.5px solid $white;

                p {
                    color: $white;
                }
            }

            @media only screen and (min-width: 36em) {
                display: block;
            }
        }

        h2 {
            font-weight: 500;
        }

        .tags {
            gap: 1.5em;
            display: flex;
            flex-wrap: wrap;
            margin-top: 1.5em;

            .tag {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5em 1.5em;
                border-radius: 2em;
            }
        }

        @media only screen and (min-width: 36em) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    @media only screen and (min-width: 36em) and (max-height: 36.9375em) {
        aspect-ratio: 16/9;
    }

    @media only screen and (min-height: 34em) {
        height: 100vh;
    }
}

#bottom-section {
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: start;

    .container {
        height: 100%;

        #kontakt h2,
        #partners h2 {
            font-size: 2rem;
        }

        #kontakt {
            gap: 2em;
            display: grid;
            grid-template-rows: auto 25em;
            grid-template-columns: 100%;
            margin: 2em 0 5em 0;
            align-items: center;

            .col {
                h2 {
                    margin-bottom: 1em;
                }

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: .5em;
                }

                p {
                    font-size: 1.1rem;

                    a {
                        color: $black;
                        text-decoration: none;
                        transition: color 125ms ease-in-out;

                        &:hover {
                            color: $blue;
                        }
                    }

                    &:first-of-type {
                        margin-bottom: .3em;
                    }
                }

                address {
                    margin-top: 1.25em;

                    p {
                        font-size: 1.1rem;
                        font-style: normal;

                        &:first-of-type {
                            margin-bottom: .3em;
                        }
                    }
                }
            }

            iframe {
                height: 100%;
                border: 0;

                @media only screen and (min-width: 36em) {
                    height: 20em;
                }
            }

            @media only screen and (min-width: 36em) {
                grid-template-rows: 1fr;
                grid-template-columns: 55fr 45fr;
            }

            @media only screen and (min-width: 48em) {
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
            }
        }

        #partners {
            margin: 5em 0 7em 0;

            h2 {
                margin-bottom: 1em;
            }

            .logos {
                width: 100%;
                row-gap: 2.5em;
                column-gap: 2em;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;

                .logo {
                    width: 100%;

                    svg {
                        width: 100%;
                        height: auto;
                        display: block;

                        @media only screen and (min-width: 62em) {
                            width: auto;
                            height: 100%;
                        }
                    }

                    @media only screen and (min-width: 62em) {
                        width: auto;
                        height: 3.5em;
                    }
                }

                @media only screen and (min-width: 48em) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media only screen and (min-width: 62em) {
                    gap: 2.5em;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }

        footer {
            margin-top: 7em;

            p {
                font-size: 1.25rem;
                text-align: center;
            }
        }
    }
}