/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Prata&family=Raleway:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  display: -ms-grid;
  display: grid;
  row-gap: 1.5625em;
  -ms-grid-rows: auto 1.5625em 18.75em 1.5625em auto 1.5625em auto 1.5625em auto 1.5625em auto 1.5625em auto;
  grid-template-rows: auto 18.75em auto auto auto auto auto;
  -ms-grid-columns: 1.25em 1fr 1.25em;
  grid-template-columns: 1.25em 1fr 1.25em;
      grid-template-areas: "header-mobile header-mobile header-mobile"
 "hero hero hero"
 ". about-us ."
 ". offer ."
 "gallery gallery gallery"
 ". contact ."
 ". footer .";
}

@media (min-width: 36em) {
  body {
    row-gap: 1.5625em;
    -ms-grid-rows: auto 1.5625em 18.75em 1.5625em auto 1.5625em auto 1.5625em auto 1.5625em auto 1.5625em auto;
    grid-template-rows: auto 18.75em auto auto auto auto auto;
    -ms-grid-columns: 1.25em 1fr 1.25em;
    grid-template-columns: 1.25em 1fr 1.25em;
        grid-template-areas: "header-mobile header-mobile header-mobile"
 "hero hero hero"
 ". about-us ."
 ". offer ."
 "gallery gallery gallery"
 ". contact ."
 ". footer .";
  }
}

@media (min-width: 48em) {
  body {
    row-gap: 1.875em;
    -ms-grid-rows: 5.1875em 1.875em 25em 1.875em auto 1.875em auto 1.875em auto 1.875em auto 1.875em auto;
    grid-template-rows: 5.1875em 25em auto auto auto auto auto;
    -ms-grid-columns: 1.25em 1fr 1.25em;
    grid-template-columns: 1.25em 1fr 1.25em;
        grid-template-areas: "header-mobile header-mobile header-mobile"
 "hero hero hero"
 ". about-us ."
 ". offer ."
 "gallery gallery gallery"
 ". contact ."
 ". footer .";
  }
}

@media (min-width: 62em) {
  body {
    row-gap: 2.5em;
    -ms-grid-rows: 6.425em 2.5em 25em 2.5em auto 2.5em auto 2.5em auto 2.5em auto 2.5em auto;
    grid-template-rows: 6.425em 25em auto auto auto auto auto;
    -ms-grid-columns: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas: "header-desktop header-desktop header-desktop"
 "hero hero hero"
 ". about-us ."
 ". offer ."
 "gallery gallery gallery"
 ". contact ."
 ". footer .";
  }
}

@media (min-width: 75em) {
  body {
    row-gap: 3.125em;
    -ms-grid-rows: 8.3125em 3.125em 37.5em 3.125em auto 3.125em auto 3.125em auto 3.125em auto 3.125em auto;
    grid-template-rows: 8.3125em 37.5em auto auto auto auto auto;
    -ms-grid-columns: 2fr 6fr 2fr;
    grid-template-columns: 2fr 6fr 2fr;
        grid-template-areas: "header-desktop header-desktop header-desktop"
 "hero hero hero"
 ". about-us ."
 ". offer ."
 "gallery gallery gallery"
 ". contact ."
 ". footer .";
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ffc6c6;
}

p {
  font-size: 1rem;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 75em) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: calc(10em / 24) 0;
}

.anchor {
  position: relative;
  top: -1.25em;
}

.header-mobile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: block;
  margin: auto;
  padding: 1.25em 0 0 0;
  grid-area: header-mobile;
}

.header-mobile p {
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .header-mobile p {
    font-size: 2.5rem;
  }
}

@media (min-width: 62em) {
  .header-mobile p {
    display: none;
  }
}

@media (min-width: 48em) {
  .header-mobile {
    padding: 1.875em 0 0 0;
  }
}

@media (min-width: 62em) {
  .header-mobile {
    display: none;
  }
}

.header-desktop {
  display: none;
}

@media (min-width: 62em) {
  .header-desktop {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-area: header-desktop;
    gap: 2.5em;
    -ms-grid-rows: 4.55em;
    grid-template-rows: 4.55em;
    -ms-grid-columns: calc(50% - 30.898755em) 2.5em 3.93em 2.5em 5.5em 2.5em 27.75em 2.5em 4.8125em 2.5em 5.1875em 2.5em calc(50% - 31.28125em);
    grid-template-columns: calc(50% - 30.71125em) 3.93em 5.5em 27.5625em 4.8125em 5.1875em calc(50% - 31.28125em);
        grid-template-areas: ". anchor_about-us anchor_offer header-heading anchor_gallery anchor_contact .";
    margin: 1.875em auto 0 auto;
  }
}

@media (min-width: 75em) {
  .header-desktop {
    gap: 2.5em;
    -ms-grid-rows: 5.1875em;
    grid-template-rows: 5.1875em;
    -ms-grid-columns: calc(50% - 33.95em) 2.5em 3.93em 2.5em 5.5em 2.5em 34.2em 2.5em 4.8125em 2.5em 5.1875em 2.5em calc(50% - 34.5em);
    grid-template-columns: calc(50% - 33.93em) 3.93em 5.5em 34em 4.8125em 5.1875em calc(50% - 34.5em);
        grid-template-areas: ". anchor_about-us anchor_offer header-heading anchor_gallery anchor_contact .";
    margin: 3.125em auto 0 auto;
  }
}

.header-heading {
  display: none;
  grid-area: header-heading;
}

.header-heading p {
  text-transform: uppercase;
}

@media (min-width: 62em) {
  .header-heading p {
    display: block;
    margin: 0;
    font-size: 3.5rem;
  }
}

@media (min-width: 75em) {
  .header-heading p {
    margin: 0 0.3125em;
    font-size: 4rem;
  }
}

@media (min-width: 62em) {
  .header-heading {
    display: block;
  }
}

.anchor_about-us, .anchor_offer, .anchor_gallery, .anchor_contact {
  display: none;
}

.anchor_about-us p, .anchor_offer p, .anchor_gallery p, .anchor_contact p {
  font-size: 1.5rem;
}

@media (min-width: 62em) {
  .anchor_about-us, .anchor_offer, .anchor_gallery, .anchor_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.anchor_about-us {
  grid-area: anchor_about-us;
}

.anchor_offer {
  grid-area: anchor_offer;
}

.anchor_gallery {
  grid-area: anchor_gallery;
}

.anchor_contact {
  grid-area: anchor_contact;
}

@media (min-width: 62em){
  .header-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .anchor_about-us {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .anchor_offer {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .anchor_gallery {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .anchor_contact {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
}

@media (min-width: 75em){
  .header-heading {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .anchor_about-us {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .anchor_offer {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .anchor_gallery {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .anchor_contact {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
}

.hero {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: hero;
  width: 100%;
  height: 18.75em;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 48em) {
  .hero {
    height: 25em;
  }
}

@media (min-width: 75em) {
  .hero {
    height: 37.5em;
  }
}

.section-rectangle {
  width: 3.125em;
  height: 0.4375em;
  margin: 0 auto 0.625em auto;
  background-color: #ffc6c6;
}

@media (min-width: 75em) {
  .section-rectangle {
    width: 6.25em;
    margin: 0 auto 0.9375em auto;
  }
}

.about-us {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: about-us;
}

.about-us .about-us_paragraph-1 {
  margin: 0.625em 0 0 0;
  text-align: justify;
}

@media (min-width: 48em) {
  .about-us .about-us_paragraph-1 {
    margin: 0.9375em 0 0 0;
  }
}

@media (min-width: 75em) {
  .about-us .about-us_paragraph-1 {
    margin: 1.875em 0 0 0;
  }
}

.about-us .about-us_paragraph-2 {
  margin: 0.5em 0 0 0;
}

.offer {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2.5em;
     -moz-column-gap: 2.5em;
          column-gap: 2.5em;
  grid-area: offer;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
      grid-template-areas: "offer-rectangle"
 "offer-heading"
 "offer-ul"
 "offer-img";
}

.offer .section-rectangle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: offer-rectangle;
}

.offer h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: offer-heading;
}

.offer ul {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  margin: 0.625em 0;
  padding: 0 0 0 1.25em;
  grid-area: offer-ul;
}

.offer ul li {
  margin: 0.4em 0;
}

.offer ul li:first-child {
  margin: 0 0 0.4em 0;
}

.offer ul li:last-child {
  margin: 0.4em 0 0 0;
}

@media (min-width: 48em) {
  .offer ul {
    margin: 0.9375em 0 0 0;
  }
}

@media (min-width: 75em) {
  .offer ul {
    margin: 2.5em 0 0 0;
  }
}

@media (min-width: 100em) {
  .offer ul {
    margin: 1.5em 0 0 0;
    font-size: 1.25rem;
  }
}

@media (min-width: 36em) {
  .offer {
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "offer-rectangle offer-rectangle"
 "offer-heading offer-heading"
 "offer-ul offer-img";
  }
  .offer .section-rectangle {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .offer h1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .offer ul {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media (min-width: 75em) {
  .offer {
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "offer-rectangle offer-rectangle"
 "offer-heading offer-heading"
 "offer-ul offer-img";
  }
  .offer .section-rectangle {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .offer h1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .offer ul {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

.offer-img {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-area: offer-img;
}

@media (min-width: 36em){
  .offer-img {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

@media (min-width: 75em){
  .offer-img {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

@media (min-width: 36em) {
  .offer-img {
    margin: 0.625em 0 0 0;
  }
}

@media (min-width: 48em) {
  .offer-img {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0.9375em 0 0 0;
  }
}

@media (min-width: 75em) {
  .offer-img {
    margin: 2.5em 0 0 0;
  }
}

.offer-img img {
  width: 100%;
  padding: 1.25em 0 0 0;
}

@media (min-width: 36em) {
  .offer-img img {
    padding: 0;
  }
}

@media (min-width: 48em) {
  .offer-img img {
    width: 90%;
  }
}

@media (min-width: 62em) {
  .offer-img img {
    width: 75%;
  }
}

@media (min-width: 100em) {
  .offer-img img {
    width: 60%;
  }
}

.gallery {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.0625em auto 1fr;
  grid-template-rows: 1.0625em auto 1fr;
  -ms-grid-columns: 1.25em 1fr 1.25em;
  grid-template-columns: 1.25em 1fr 1.25em;
      grid-template-areas: ". gallery-section-rectangle ."
 ". gallery-heading ."
 ". gallery-grid .";
  grid-area: gallery;
  padding: 1.25em 0;
  background-color: #ffc6c6;
}

.gallery .section-rectangle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  background-color: #ffffff;
  grid-area: gallery-section-rectangle;
}

.gallery h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  color: #ffffff;
  margin: 0 0 0.9375em 0;
  grid-area: gallery-heading;
}

@media (min-width: 48em) {
  .gallery {
    padding: 1.875em 0;
  }
}

@media (min-width: 62em) {
  .gallery {
    -ms-grid-rows: 1.0625em auto 1fr;
    grid-template-rows: 1.0625em auto 1fr;
    -ms-grid-columns: 1fr 9fr 1fr;
    grid-template-columns: 1fr 9fr 1fr;
        grid-template-areas: ". gallery-section-rectangle ."
 ". gallery-heading ."
 ". gallery-grid .";
    padding: 2.5em 0;
  }
  .gallery .section-rectangle {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .gallery h1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media (min-width: 75em) {
  .gallery {
    -ms-grid-rows: 1.0625em auto 1fr;
    grid-template-rows: 1.0625em auto 1fr;
    -ms-grid-columns: 2fr 6fr 2fr;
    grid-template-columns: 2fr 6fr 2fr;
        grid-template-areas: ". gallery-section-rectangle ."
 ". gallery-heading ."
 ". gallery-grid .";
    padding: 3.125em 0;
  }
  .gallery .section-rectangle {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .gallery h1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

.gallery-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  display: -ms-grid;
  display: grid;
  gap: 1.25em;
  -ms-grid-rows: 1fr 1.25em 1fr 1.25em 1fr 1.25em 1fr 1.25em 1fr 1.25em 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-area: gallery-grid;
}

@media (min-width: 62em){
  .gallery-grid {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

@media (min-width: 75em){
  .gallery-grid {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

.gallery-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery-grid > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery-grid > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.gallery-grid > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.gallery-grid > *:nth-child(5) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.gallery-grid > *:nth-child(6) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.gallery-grid img {
  width: 100%;
}

@media (min-width: 36em) {
  .gallery-grid {
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .gallery-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .gallery-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .gallery-grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .gallery-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .gallery-grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .gallery-grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

@media (min-width: 62em) {
  .gallery-grid {
    gap: 1.25em;
    -ms-grid-rows: 1fr 1.25em 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1.25em 1fr 1.25em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gallery-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .gallery-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .gallery-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .gallery-grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .gallery-grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .gallery-grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}

.contact {
  -ms-grid-row: 11;
  -ms-grid-column: 2;
  grid-area: contact;
}

.contact p {
  text-align: center;
}

.contact table {
  margin: auto;
}

.contact table tr:first-child td:first-child p, .contact table tr:last-child td:first-child p {
  text-align: left;
}

.contact table tr:first-child td:last-child p, .contact table tr:last-child td:last-child p {
  text-align: right;
}

.contact table tr:first-child td:first-child, .contact table tr:last-child td:first-child {
  padding: 0 0.625em 0 0;
}

.contact table td:first-child td:last-child, .contact table tr:last-child td:last-child {
  padding: 0 0 0 0.625em;
}

.contact-name {
  margin: 0.75em 0 0 0;
  font-size: 1.25rem;
}

.contact-facebook {
  margin: 0.625em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-map {
  width: 100%;
  height: 28.125em;
  margin: 1.5625em 0 0 0;
}

.contact-map iframe {
  border: 0;
}

@media (min-width: 48em) {
  .contact-map {
    margin: 1.875em 0 0 0;
  }
}

@media (min-width: 62em) {
  .contact-map {
    margin: 2.5em 0 0 0;
  }
}

@media (min-width: 75em) {
  .contact-map {
    margin: 3.125em 0 0 0;
  }
}

footer {
  -ms-grid-row: 13;
  -ms-grid-column: 2;
  margin: 0 0 1.5625em 0;
  grid-area: footer;
  text-align: center;
}

@media (min-width: 36em){
  .header-mobile {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .hero {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .about-us {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .offer {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .gallery {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .contact {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
  }
  footer {
    -ms-grid-row: 13;
    -ms-grid-column: 2;
  }
}

@media (min-width: 48em){
  .header-mobile {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .hero {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .about-us {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .offer {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .gallery {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .contact {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
  }
  footer {
    -ms-grid-row: 13;
    -ms-grid-column: 2;
  }
}

@media (min-width: 62em){
  .header-desktop {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .hero {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .about-us {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .offer {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .gallery {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .contact {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
  }
  footer {
    -ms-grid-row: 13;
    -ms-grid-column: 2;
  }
}

@media (min-width: 75em){
  .header-desktop {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .hero {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .about-us {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .offer {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .gallery {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .contact {
    -ms-grid-row: 11;
    -ms-grid-column: 2;
  }
  footer {
    -ms-grid-row: 13;
    -ms-grid-column: 2;
  }
}

@media (min-width: 48em) {
  footer {
    margin: 0 0 1.875em 0;
  }
}

@media (min-width: 62em) {
  footer {
    margin: 0 0 2.5em 0;
  }
}

@media (min-width: 75em) {
  footer {
    margin: 0 0 3.125em 0;
  }
}

#signature {
  margin: auto;
}